{% extends 'base.html' %}
{% load crispy_forms_tags %}

        


    {% block body %}
    <div class="container">
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Signup">
            <!-- <a type="submit" class="btn btn-primary" href="{% url 'accounts:login_url' %}">signup</a> -->
        </form>
    </div>
























    <h1>good</h1>



    <h1>jnxjn</h1>
    <h1>mnxjnz</h1>
{% endblock %}
